.room_container {
  width: 100%;
  height: 100vh;
  display: flex;
  
  
}

.chat_section_container {
  height: 98%;
  width: 20%;
  margin-top:10px;
  margin-left:10px;
  left:79%;
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 3px solid #29ca8e ;
  border-radius: 30px;
}



.chat_label_container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.chat_label_paragraph {
  font-weight: 700;
  color: #9ca5ab;
  margin-top:1%;
  margin-left: 43%;
  font-size: 16px;
}

.new_message_container {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.new_message_input {
  border: 1px solid #9ca4aa;
  border-radius: 60px;
  padding: 0 50px 0px 20px;
  height: 60px;
  font-size: 16px;
  width: 90%;
  box-shadow: 2px 20px 5px rgba(0, 82, 201, 0.05);
  margin-top: 5px;
  margin-bottom: 5px;
}

.new_message_textarea:focus {
  outline: none;
}

.new_message_button {
  position: absolute;
  right: 13%;
  
}


.file_sending_button {
  position: absolute;
  right: 6%;
  bottom:12.5%;
  border-radius: 50%;
  background-color:white;
}

.messages_container {
  width: calc(100% - 20px);
  height:77%;
  margin-left: 10px;
  margin-right: 10px;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color:#D0F2FF;
  border-radius: 10px;
}

.message_container {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.message_align_left {
  align-items: flex-start;
}

.message_align_right {
  align-items: flex-end;
}

.message_left_styles {
  background: rgb(66, 130, 226);
  position: relative;
  color: black;
}

.message_left_styles:before {
  border-top:15px solid rgb(66, 130, 226);
  border-left: 15px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 0px solid transparent;
  content:"";
  position:absolute;
  top:1px;
  left:0px;
  transform: rotate(40deg);
}
.message_right_styles {
  background: #21a374 ;
  color: white;
  position: relative;
}
.message_right_styles:before {
border-top:15px solid #21a374;
 border-left: 15px solid transparent;
 border-right: 0px solid transparent;
 border-bottom: 0px solid transparent;
 content:"";
 position:absolute;
 top:-5px;
 right:10px;
 transform: rotate(100deg);
}

.message_title {
  margin: 0;
  padding: 0 10px;
  color: black;
  font-size: 16px;
  font-weight: 500;
  display: block;
}

.message_content {
  margin: 0px 10px;
  padding: 10px 30px 10px 20px;
  border-radius: 25px;
  font-size: 16px;
  display: inline-block;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  background: #259DB3;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: gray;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b21bee;
  border-radius: 10px;
}

.overlay_container {
  width: 100%;
  height: 100vh;
  background: rgba(37,184,131,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #17815a; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.participants_container {
  width: 93%;
  margin-left:2.5%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: flex-start;
  height: 50%;
  background-color: rgba(224, 220, 220, 0.815);
  border-radius: 10px;
  border: 3px solid white;
  
}

.participants_paragraph {
  color: black;
  text-align: start;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.5s;
  margin: 0 20px;
  padding: 10px 0px;
  background-color: rgb(189, 181, 181);
  margin-top:5px;
  border-radius:10px;
  display: inline-block;
  text-align: center;
  z-index: 5;
}

.host_paragraph{
  color: black;
  text-align: start;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.5s;
  margin: 0 20px;
  padding: 10px 0px;
  background-color: rgb(189, 181, 181);
  margin-top:5px;
  border-radius:10px;
  display: inline-block;
  text-align: center;
  z-index: 5;
}

.participants_paragraph:hover {
  background-color: #888080;
  border-radius: 8px;
  color: white;
}

.participants_separator_line {
  width: calc(100% - 80px);
  height: 2px;
  background-color: #e5e5e5;
  margin-left: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.participants_section_container {
  height: 100%;
  width: 20%;
  background-color: white;
  display: flex;
  flex-direction: column;
  
}

.participants_label_container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color:#29ca8f;
  border-radius: 10px;
  margin-left: 3%;
  margin-right: 4%;
  margin-bottom: 1%;
  margin-top: 1%;
}

.participants_label_paragraph {
  font-weight: 700;
  color: white;
  
  margin: 7px auto;
  
  
    
  
  
  font-size: 16px;
}

.local_screen_share_preview {
  position: absolute;
  width: 15%;
  height: 90%;
  background-color: black;
  border-radius: 8px;
  border: 2px solid #21a374;
  left: 1%;
  bottom: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video_buttons_container {
  width: 59%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 20%;
  bottom: 0%;
  z-index: 2;
  background: linear-gradient(168.68deg, #21a374 1.12%, #29ca8e 100%);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.video_button_container {
  margin-left: 25px;
  display: flex;
  
}

.video_button_image {
  height: 80%;
  padding: 10px;
  border-radius: 25px;
  transition: 0.3s;
}

.video_button_image:hover {
  background: #187553;
  padding: 10px;
  border-radius: 25px;
}

.video_button_end {
  width: 200px;
  height: 60px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 65px;
  border: none;
  color: white;
  background: #056441;
  box-shadow: 0px 3px 30px rgba(252, 93, 91, 0.1);
  transition: 0.2s;
  margin-right: 130px;
}

.video_button_end:hover {
  background: rgb(68, 211, 142);
}

.videos_container {
  height: 90%;
  width: 100%;
  background-color: #f6f9fb;
  position: relative;
  border-radius: 0px 0px 25px 25px;
}

.participants {
  display: flex;
  width: 100%;
  height: 100%;
}

.participant {
  flex-grow: 1;
}

/* .identity {
        position: absolute;
        left: 0px;
        bottom: 15px;
        color: white;
        padding-left: 15px;
        box-sizing: border-box;
        z-index: 10;
      } */

.video {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.screen_share_track {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}

.room {
  width: 100%;
  height: 100%;
}

video {
  width: 98%;
  height: 98%;
}

.room_label {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 4;
}

.room_label_paragraph {
  font-size: 17px;
  height:28px;
  color: white;
  margin-top: 0;
  text-align: center;
  padding-left: 30px;
  padding-bottom: 20px;
  background: #29ca8e;
  border-radius: 0px 0px 15px 15px;
}

.video_track_container:first-child:nth-last-child(1) {
  width: 100%;
  height: 100%;
  
  position: relative;
}

.video_track_container:first-child:nth-last-child(2),
.video_track_container:first-child:nth-last-child(2) ~ .video_track_container {
  width: 50%;
  height: 50%;
  
  position: relative;
}

.video_track_container:first-child:nth-last-child(3),
.video_track_container:first-child:nth-last-child(3) ~ .video_track_container {
  width: 50%;
  height: 50%;
  
  position: relative;
}

.video_track_container:first-child:nth-last-child(4),
.video_track_container:first-child:nth-last-child(4) ~ .video_track_container {
  width: 50%;
  height: 50%;
  position: relative;
}

.video_track_container:first-child:nth-last-child(5),
.video_track_container:first-child:nth-last-child(5) ~ .video_track_container {
  width: 33%;
  height: 33%;
  position: relative;
}

.video_track_container:first-child:nth-last-child(6),
.video_track_container:first-child:nth-last-child(6) ~ .video_track_container {
  width: 33%;
  height: 33%;
}

.video_track_container:first-child:nth-last-child(7),
.video_track_container:first-child:nth-last-child(7) ~ .video_track_container {
  width: 33%;
  height: 33%;
}

.video_track_container:first-child:nth-last-child(8),
.video_track_container:first-child:nth-last-child(8) ~ .video_track_container {
  width: 33%;
  height: 33%;
}

.video_track_container:first-child:nth-last-child(9),
.video_track_container:first-child:nth-last-child(9) ~ .video_track_container {
  width: 33%;
  height: 33%;
}

.video_section_container {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.full_screen {
  position: absolute;
  width: 100%;
  height: 90%;
  top: 0%;
  left: 0%;
  z-index: 2;
}

.label_only_audio_container {
  width: 96%;
  height: 98%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0%;
  left: 0%;
  border:8px inset #259DB3;
  background-color:rgb(216, 212, 212);
  background-image: url(../resources/images/people.svg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index:-1;
}

.label_only_audio_container {
  font-size: 18px;
  color: black;
}

.direct_chat_container {
  height: 45%;
  margin-right: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 94%;
  margin-top:5px;
  position: relative;
  border: 4px solid #29ca8f;
  border-radius: 34px;
  margin-left: 5px;
}

.direct_chat_header {
  height: 50px;
  background: linear-gradient(168.68deg, #21a374 1.12%, #29ca8e 100%);
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  align-items: center;
  
  justify-content: center;
}

.direct_chat_header_paragraph {
  color: white;
  font-size: 16px;
}

.new_message_direct_border {
 
  width: 100%;
}

.direct_messages_container {
  flex-grow: 1;
  width: 100%;
  
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: #D0F2FF;
  border-bottom-right-radius: 15px;
  
  border-bottom-left-radius: 15px;
}

.conversation_not_chosen_overlay {
  width: 95%;
  height: 86%;
  bottom: 0;
  left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  position: absolute;
}

.conversation_not_chosen_overlay_text {
  font-size: 16px;
  font-weight: 700;
  color: black;
  margin-bottom: 80px;
}

.direct_message_container_author {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.direct_message_container_receiver {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.author_direct_message {
  background: #21a374;
  float: right;
  border-radius: 8px 8px 0px 8px;
  padding: 13px;
  margin-right: 5px;
  color: white;
  display: inline;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  margin-left: 5px;
}

.receiver_direct_message {
  border-radius: 8px 8px 8px 0px;
  border: 1px solid #a7aeb6;
  background: #ffffff;
  padding: 13px;
  float: left;
  margin-left: 5px;
  display: inline;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  margin-right: 5px;
  color: black;
}



.sttb:hover{
  background: #29ca8f;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
}

.Sttcontanor{
  background-color:#29ca8f9c;
  width:59%;
  height:10%;
  position: absolute;
  bottom: 10%;
  left: 20%;
  border-radius: 20px;
  z-index: 2;
  margin-bottom: 5px;
}

.sttb{
  top: 15px;
  position: absolute;
  left: 1.5%;
  padding:10px;
  z-index: 3;
}


.sttc{
  vertical-align: bottom;
  color: black;
  margin-top: 13px;
  margin-left: 60px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size:23px;
  font-family: Helvetica, Arial, sans-serif;
  
}

.otherstt{
  color: black;
  margin-top:-20px;
  margin-left: 60px;
  margin-bottom: 30px;
  margin-right: 10px;
  font-size: 23px;
  
}
.te{
  position: relative;
}

.st{
  position: absolute;
  top: 25px;
  left:-4%;
}

.copybutton{
  position: relative;
  right:-90%;
  bottom:45%;
  border:5px;
}


.copybutton:hover{
  transition: 1s;
  top:-42px;
  height: 20px;
}


.new_file_container{
  background-color:#00f89d9d;
  margin-top: 3px;
  width: 95%;
  margin-left:3%;
  height:50px;
  border-radius: 15px;
  
}
 
.file_up{
  bottom: 12%;
  left:4%;
  position: absolute;
}

.file_up:hover{
  background-color:white;
  transition: 1s;
  border-radius:30px;
}

.file_down{
  bottom: 13%;
  left:85%;
  position: absolute;
  z-index: 3;
}

.file_sen{
  background-color:white;
  width:70%;
  height:30px;
  left:15%;
  bottom: 12%;
  border-radius:10px;

  position: absolute;
  z-index: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.file_name{
  background-color:white;
  width:70%;
  height:30px;
  left:15%;
  bottom: 11.5%;
  border-radius:10px;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.file_na{
  margin-left: 6px;
  width:80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mark > summary{
  background-color: #29ca8e;
  text-align: center;
  color: white;
  width:480px;
  height:25px;
}

.mark > summary:hover{
  border: 1px solid #071982;
  color: #80ffd3;
}



.mark{
  background-color: rgba(255, 255, 255, 0);
  padding:0;
}
.video_shar{
  position: absolute;
  left: 68%;
}

.label_name_text{
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  position:relative;
  bottom:28px;
  left:3%;
  width:100px;
  height:24px;
  padding-left:2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.video_track{
  width:100%;
  height:88%;
}
